<div class="outside-container">
    <div class="inside-container">
        <div class="form-style-6">
            <h1>Add User</h1>
            <form>
                <input type="text" [(ngModel)]="user.name" name="field1" placeholder="Your Name" />
                <input type="email" [(ngModel)]="user.email" name="field2" placeholder="Email Address" />
                <input type="submit" value="Send" (click)="registerUser()" />
            </form>
        </div>

    </div>
    <div class="inside-container">
        <section>
            <!--for demo wrap-->
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr *ngFor="let entry of listUser">
                            <td>{{entry.id}}</td>
                            <td>{{entry.name}}</td>
                            <td>{{entry.email}}</td>
                            <a class="detail-button" [routerLink] = "['/users',entry.id]"><td>Details</td></a>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </div>
</div>