<div class="outside-container" *ngIf="listPurchase">
    <div class="inside-container">
        <div class="form-style-6">
            <h1>Add Transaction</h1>
            <form>
                <input type="number" [(ngModel)]="purchase.productId" name="field1" placeholder="Product ID" />
                <input type="number" [(ngModel)]="purchase.quantity" name="field2" placeholder="Product Quantity" />
                <input type="number" [(ngModel)]="purchase.userId" name="field3" placeholder="User ID" />
                <input type="submit" value="Send" (click)="registerPurchase()" />
            </form>
        </div>

    </div>
    <div class="inside-container">
        <section>
            <!--for demo wrap-->
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>Transaction ID</th>
                            <th>Product ID</th>
                            <th>Product Quantity</th>
                            <th>Total Price</th>
                            <th>User ID</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr *ngFor="let entry of listPurchase">
                            <td>{{entry.id}}</td>
                            <td>{{entry.productId}}</td>
                            <td>{{entry.quantity}}</td>
                            <td>{{entry.totalPrice}}</td>
                            <td>{{entry.userId}}</td>
                            <a class="detail-button" [routerLink] = "['/purchases',entry.id]"><td>Details</td></a>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </div>
</div>