<div class="outside-container">
    <div class="inside-container">
        <div class="form-style-6">
            <h1>Add Products</h1>
            <form>
                <input type="text" name="field1" placeholder="Your Name" />
                <input type="email" name="field2" placeholder="Email Address" />
                <textarea name="field3" placeholder="Type your Message"></textarea>
                <input type="submit" value="Send" />
            </form>
        </div>
    
    </div>
    <div class="inside-container">
        <div class="form-style-6">
            <h1>Add Products</h1>
            <form>
                <input type="text" name="field1" placeholder="Your Name" />
                <input type="email" name="field2" placeholder="Email Address" />
                <textarea name="field3" placeholder="Type your Message"></textarea>
                <input type="submit" value="Send" />
            </form>
        </div>
    
    </div>
</div>
