<div class="outside-container" *ngIf="fetchedProduct">
    <div class="inside-container">
        <div>
            <h1>{{message}}</h1>
        </div>
        <div class="form-style-6">
            <h1>Modify Product</h1>
            <form>
                <input type="text" [(ngModel)]="modifiedProduct.name" name="field1" placeholder="Product Name" />
                <input type="number" [(ngModel)]="modifiedProduct.quantity" name="field2" placeholder="Initial Quantity" />
                <input type="number" [(ngModel)]="modifiedProduct.price" name="field3" placeholder="Retail Price" />
                <input type="submit" value="Update" (click)="updateProduct()" />

                <input type="submit" id="btn-del" value="Delete" (click)="deleteProduct()" />
            </form>
        </div>

    </div>
    <div class="inside-container">
        <section>
            <!--for demo wrap-->
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
    
                    <thead> 
                        <tr>
                            <th>ID no.</th>
                            <th>Product Name</th>
                            <th>Current Quantity</th>
                            <th>Retail Price</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
              
                    <tbody>
                       <tr>
                           <td>{{fetchedProduct.id}}</td>
                           <td>{{fetchedProduct.name}}</td>
                           <td>{{fetchedProduct.quantity}}</td>
                           <td>{{fetchedProduct.price}}</td>
                       </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </div>
</div>